.input-wrapper {
    margin-top: 10px;
  }

  label {
    font-weight: 600;
    font-size: 18px;
    color: #344054;
    display: block;
    margin-bottom: 8px;
  }
  
  input {
    font-size: 16px;
    font-weight: 400;
    color: #344054;
    background: #ffffff;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px 14px;
  }
  
  input::placeholder {
    font-size: 16px;
    font-weight: 400;
    color: #667085;
  }

  .error {
    color: #db4437;
    font-size: 14px;
    font-weight: 400;
    margin-left: 12px;
    margin-top: 4px;
  }